#wrapper {
  width: 750px;
  height: 350px;
  margin: auto;
}

table {
  width: 400px;
  height: 300px;
  text-align: center;
}

.numbers {
  font-size: 45px;
  font-weight: bold;
  border: 5px solid;
  padding: 50px;
}

.operator {
  font-size: 45px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 2px solid blue;
}
